.container-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
 
.title-category {
    font-size: 2em;
    margin-bottom: 20px;
    color: #09203f;
}
 
.input-container-category {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
 
.input-category {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #09203f;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}
 
.button-save {
    padding: 10px 20px;
    background-color: #09203f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
 
.button:hover {
    background-color: #31658d;
}
 
.table-container-category {
    width: 60%;
}
 
.delete-button {
    background-color: #f33838;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.delete-button:hover {
    background-color: #cc0000;
}
 
.update-button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}
 
.update-button:hover {
    background-color: #0014cc;
}