.title-favorite-container{
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty-favorite-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20px; 
}
  
.title-empty-books {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px;
}
  
.paragraph-empty-books {
    font-size: 18px; 
    margin-bottom: 10px;
    font-weight: bold; 
}
  
.empty-favorite-books img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
}
.link-to-books {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
  
.link-to-books:hover {
    background-color: #0056b3;
}

.book-favorite-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  text-align: center;
  padding: 0;
}

.book-favorite-item {
    position: relative;
    width: calc(33.33% - 100px); 
    margin-bottom: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-favorite-item img {
  width: 60%;
  margin: 0 auto;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.book-favorite-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-favorite-info h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.book-favorite-info p {
  margin-bottom: 0;
}

.book-favorite-info .favorite-state {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  display: none;
}

.book-favorite-item:hover .book-favorite-info .favorite-state {
  display: block;
}

.book-favorite-actions svg {
  font-size: 20px; 
}

.book-favorite-actions {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.book-favorite-actions:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.book-favorite-info .favorite-state,
.book-favorite-actions {
  display: none;
}

.book-favorite-item:hover .favorite-state,
.book-favorite-item:hover .book-favorite-actions {
  display: block;
}

.boton-ver-mas {
  display: none; 
  padding: 8px 16px;
  background-color: #F4D03F;
  color: #09203f;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.book-favorite-item:hover .boton-ver-mas {
  display: inline-block;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .book-favorite-item {
    width: calc(50% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }
}

  
  