.modal-category {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-category {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .modal-content-category h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .modal-content-category input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-content-category button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-update {
    background-color: #007bff;
    color: #fff;
  }
  
  .button-cancel {
    background-color: #dc3545;
    color: #fff;
  }
  
  .button-update:hover,
  .button-cancel:hover {
    opacity: 0.8;
  }
  